on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  lints:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix fmt -- --ci
  DeterminateCI:
    uses: ./.github/workflows/determinate-ci.yml
    permissions:
      id-token: write
      contents: read
    with:
      visibility: public
