name: Build Vicinae

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Vicinae
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Build Vicinae
        run: nix build .#vicinae
